*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newdesgin {
  --color: rgba(30, 30, 30);
  --bgColor: rgb(255, 255, 255);
  min-height: 80%;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

h1 { text-align: center }

.circle1 {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
  counter-reset: stepnr;
  width: 100%;
}

.cards:nth-child(6n + 1) { --accent-color: #b8df4e }
.cards:nth-child(6n + 2) { --accent-color: #4cbccb }
.cards:nth-child(6n + 3) { --accent-color: #7197d3 }
.cards:nth-child(6n + 4) { --accent-color: #ae78cb }
.cards:nth-child(6n + 5) { --accent-color: #7dc7a4 }
.cards:nth-child(6n + 6) { --accent-color: #f078c2 }

.circle1 .cards {
  counter-increment: stepnr;
  width: 21rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
.circle1 .cards::before,
.circle1 .cards::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
.circle1 .cards::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

.circle1 .cards::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

.circle1 .cards > * { width: 7.5rem }
.circle1 .cards .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
.circle1 .cards .stitle { font-size: 24px; font-weight: 500; color: #b6b6b6; }
.circle1 .cards .sdescr { font-size: 20px; font-weight: 700; color: #1a1919; }


.credits { margin-top: 2rem; text-align: right }
.credits a { color: var(--color) }

@media (min-width: 480px) {
  .newdesgin {
  min-height: 50%;
}

}